ion-icon{
    font-size: 1.5rem;
}

a{
    color: black;
}

tbody{
    cursor: pointer;
}

.board_wrap{
    margin: 2rem 5rem 5rem 2rem;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


.board_first{
    margin-left: 50px;
    width: 35vW;
    height: 35vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
}

.board_second{
    margin-left: 100px;
    width: 35vW;
    height: 35vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
}

.board_third{
    margin: 50px 0 0 50px ;
    width: 35vW;
    height: 35vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
}

.board_fourth{
    margin: 50px 0 0 100px;
    width: 35vW;
    height: 35vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
}
.graphWrap{
    width: 33vW;
    height: 34vh;
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .board_first{
        margin: 50px 10px 10px 10px;
        width: 75vW;
        height: 39vh;
        overflow: hidden;
    }
    .board_second{
        margin: 50px 10px 10px 10px;
        width: 75vW;
        height: 39vh;
        overflow: hidden;
    }

    .board_third{
        margin: 50px 10px 10px 10px;
        width: 75vW;
        height: 39vh;
        overflow: hidden;
    }
    .board_fourth{
        margin: 50px 10px 10px 10px;
        width: 75vW;
        height: 45vh;
        overflow: hidden;
        box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    }
    .graphWrap{
        width: 70vW;
        height: 40vh;
        margin: 0 auto;
    }
}